


body {
 background: url(12_col.gif)center top repeat-y;
	background-size:90%;
   
     
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

    .wrapper > * {
        border: 2px solid black;
        height:200px;
        margin:5px;
        
      
        

    }


.wrapper {
  width:90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 100px;
  grid-gap: 2px;
  grid-template-areas:
      "header header header header header header"
      "left  main  main main main main right"
      "content  content content content  side side"
      "footer footer footer footer footer footer";
}


.cell-1 {
  grid-area: header;
  grid-column:1/7;
  
}

.cell-2{
  grid-area:left;
  grid-column:1/2;
}
.cell-3{
  grid-area:main;
  grid-column:2/6;
}
.cell-4{
  grid-area:right;
  grid-column:6/7;
}
.cell-5{
  grid-area:content;
  grid-column:1/6;
}
.cell-6{
  grid-area:side;
  grid-column:6/-1;
}
.cell-7{
  grid-area:footer;
  grid-column:1/7;
}

   
.cell-7 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-column-gap: 1rem;
}

.cell-7 .cell {
   border:2px solid black;
   margin-left:5px;
}



/*Större skärmar*/
@media  (min-width:1280px){
      .wrapper{
      display:grid;
      margin:70px;
      height:50px;
      grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr ;
      grid-template-rows: auto 1fr ;
      grid-template-areas:
        "header header header header header header"
        "left main  main   main main right"
        "content content content content side side"
        "footer footer footer footer footer footer";
    }
}

 /*Ipad Pro 12.9*/
  @media  (max-width: 1024px){
    .wrapper{
      
      display:grid;
      margin:50px;
      height:50px;
      grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr ;
      grid-template-rows: auto 1fr ;
      grid-template-areas:
        "header header header header"
        "left main  main right"
        "content content content side"
        "footer footer footer footer";
    }
}

/*Ipad*/
  @media (max-width: 768px){
    .wrapper{
      display:grid;
      margin:30px;
      height:50px;
      grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr  ;
      grid-template-rows: auto 1fr ;
      grid-template-areas:
        "header header header"
        "left main right"
        "content content side"
        "footer footer footer";
    }
  }

/*mobil*/
  @media (max-width: 560px){
    .wrapper{
      display:grid;
      grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: 
        "header"
        "left"
        "main"
        "right"
        "content"
        "side"
        "footer";
    }
  }