
*, *:before, *:after {
   box-sizing: border-box;
}

body {
  background: url(12_col.gif) center top repeat-y;
  background-size:90%;  
}

[class*="cell"] {

  border: 2px solid #333;

  border: 1px solid #333;

}

.wrapper {
  width:90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 200px);
  grid-gap: 2%;
  grid-template-areas:
      "header header header header header header header header header header header header"
      "left left main main main main main main main main right right"
      "content content content content content content content content content side side side"
      "footer footer footer footer footer footer footer footer footer footer footer footer";
}


.cell-1 {
  grid-area: header;
}

.cell-2{
  grid-area:left;
}
.cell-3{
  grid-area:main;
}
.cell-4{
  grid-area:right;
}
.cell-5{
  grid-area:content;
}
.cell-6{
  grid-area:side;
}
.cell-7{
  grid-area:footer;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-gap:2%;
  grid-template-areas: 
   "footera footerb footerc footerd"

}
.cell-8 {
  grid-area:footera;
  margin:10px;
  
}
.cell-9{
  grid-area:footerb;
  margin:10px;
}
.cell-10{
  grid-area:footerc;
  margin:10px;

}
.cell-11{
  grid-area:footerd;
  margin:10px;
  
}

/*Ipad Pro 12.9*/
  @media  (max-width: 1024px){
=======


/*Större skärmar*/
@media  (min-width:1200px){
      .wrapper{
      display:grid;
      margin:70px;
      height:50px;
      grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: auto 1fr ;

      grid-gap: 1% 1%;
      grid-template-areas:
        "header header header header header header"
        "left main  main   main main right"
        "content content content content side side"
        "footer footer footer footer footer footer";
    }
}

 /*Ipad Pro 12.9*/
  @media  (max-width: 1024px){

    .wrapper{
      display:grid;
      grid-gap:2%;
      grid-template-columns:repeat(12,1fr);
      grid-template-rows: repeat(4, 200px;);
      grid-template-areas:
        "header header header header header header header header header header header header" 
        "left left left main main main main main main right right right"
        "content content content content content content content content side side side side"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    }

}

/*Ipad*/
  @media (max-width: 768px){
    .wrapper{
      display:grid;
      grid-gap:2%;
      grid-template-columns:repeat (12, 1fr);
      grid-template-rows: repeat(4, 200px);
      grid-template-areas:
       "header header header header header header header header header header header header" 
        "left left left left main main main main right right right right"
        "content content content content content content side side side side side side"
        "footer footer footer footer footer footer footer footer footer footer footer footer" ;   
       
    }

.cell-7{
      display:grid;
      grid-gap:3%;
      height:400px;
      grid-template-areas:
       "footera footera footerb footerb"
       "footerc footerc footerd footerd";   
       
    }
}
/*mobil*/
<<<<<<< HEAD
  @media (max-width:480px){
   .wrapper{
      display:grid;
      grid-template-columns:1fr 1fr 1fr 1fr ;
      grid-template-rows:repeat(11, 100px);
      grid-template-areas: 
        "header header header header "
        "left left left left"
        "main main main main"
        "right right right right"
        "content content content content"
        "side side side side"
        "footer footer footer footer";
       
    }
    .cell-7{
      display:grid;
      grid-gap:3%;
      height:400px;
      grid-template-areas:
       "footera footera footera footera"
       "footerb footerb footerb footerb"
       "footerc footerc footerc footerc"
       "footerd footerd footerd footerd";   
       
    }
  }